body {
  // background: linear-gradient(to right, rgb(65, 77, 11), rgb(114, 122, 23));
  background: linear-gradient(to right, rgb(35, 37, 38), rgb(65, 67, 69));
  // background: linear-gradient(to right, rgb(40, 48, 72), rgb(133, 147, 152));
  margin: 0;
  padding: 0;
}
.root {
  margin: 0;
  padding: 0;
}
.nav {
  perspective: 1000px;
  right: 0px;
  position: absolute;
  z-index: 4;
  &.hide {
    z-index: 0;
  }

  nav {
    height: 100%;
    width: 250px;
    overflow: hidden;
    opacity: 1;
    display: table;
    transition: transform 1s, opacity 0.5s;
    transform-style: preserve-3d;
    &.hide {
      transform: rotateY(-360deg) translate(0px, 0);
      opacity: 0;
    }
    ol {
      padding: 0 10% 0 0;
      vertical-align: middle;
      display: table-cell;

      li {
        border-top: @one-pixel solid @dark-grey-25;
        border-right: @one-pixel solid @dark-grey-25;
        border-left: @one-pixel solid @dark-grey-25;
      }

      a {
        display: block;
        background-color: @white;
        padding: 1rem 1.5rem;
        border-bottom: @one-pixel solid @dark-grey-25;
        text-decoration: none;
        white-space: nowrap;

        &:hover,
        &:active {
          background-color: @dark-grey-5;
          color: @blue-100;
        }
      }

      &:empty {
        border-top-width: 0;
      }
    }
  }

  .selected {
    a,
    a:active,
    a:hover {
      background-color: @dark-grey-5;
      background-image: none;
      color: @blue-100;
    }
  }
}

.toggleNav {
  right: 0;
  position: absolute;
  z-index: 2000;
}

.story-card {
  position: relative;
  background-color: transparent;
  height: 758px;
  width: 1020px;
  perspective: 800px;
}

/* This container is needed to position the front and back side */
.story-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  text-align: center;
  transition: transform 1s, opacity 1s;
  transform-style: preserve-3d;
  color: aliceblue;
  padding: 2rem;
}
h1 {
  color: aliceblue;
}

// BEGIN TRANSITIONS

.story-card-0 {
  z-index: 3;
}
.story-card-1 {
  z-index: 2;
}
.story-card-2 {
  z-index: 1;
}
.story-card-3 {
  z-index: 0;
}

.story-card-0.hide {
  transform: rotateY(40deg) scale(0.7) translate(-50px, 0px);
  opacity: 1;
}

.story-card-1.hide {
  transform: rotateY(40deg) scale(0.65) translate(-150px, 50px);
  opacity: 0.8;
}

.story-card-2.hide {
  transform: rotateY(40deg) scale(0.6) translate(-275px, 100px);
  opacity: 0.6;
}

.story-card-3.hide {
  transform: rotateY(40deg) scale(0.55) translate(-420px, 150px);
  opacity: 0.4;
}

.story-card .story-card-0:hover,
.story-card .story-card-1:hover,
.story-card .story-card-2:hover,
.story-card .story-card-3:hover {
  border: solid 1px red;
  opacity: 1;
}

//END OF TRANSITIONS

/* Style the front side (fallback if image is missing) */

#story-0 {
  background: linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55));

  // background-color: pink;
}
#story-1 {
  background: linear-gradient(to right, rgb(28, 216, 210), rgb(147, 237, 199));
  // background-color: green;
}
#story-2 {
  //background: linear-gradient(to right, rgb(71, 118, 230), rgb(142, 84, 233));
  background: linear-gradient(to right, rgb(255, 224, 0), rgb(121, 159, 12));
  // background-color: yellow;
}
#story-3 {
  background: linear-gradient(to right, rgb(204, 43, 94), rgb(117, 58, 136));
  // background-color: red;
}
